<mat-card>
    <mat-card-title *ngIf="team">
        Equipa: {{team.name}}
    </mat-card-title>
    <mat-card-content *ngIf="team">
        <table *ngIf="team.users.length > 0" mat-table [dataSource]="team.users">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>

                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                    <button mat-icon-button type="submit" (click)="deleteUser(element)">
                        <mat-icon color="warn">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h3 *ngIf="team.users.length == 0">Não eixstem utilizadores associados a esta equipa</h3>

    </mat-card-content>

</mat-card>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Adicionar Utilizador
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="addUser()">
        
        <div id="search-component">
            <label for="search-box">
               <h3>
                Pesquisar Utilizador
               </h3> 
            </label>
            <ul class="search-result">
               
                <mat-selection-list #select [multiple]="false" >
                    <input #searchBox id="search-box" (keyup.enter)="search(searchBox.value);" autocomplete="off"/>
                    <mat-list-option *ngFor="let user of users | async" (keyup.enter)="search(searchBox.value = user.name); setUser(user);" (click)="search(searchBox.value = user.name); setUser(user);" > 
                        {{user.name}}
                    </mat-list-option>
                </mat-selection-list>

                <br>
                
                <button mat-raised-button [disabled]="!user || searchBox.value == ''" (click)="search(searchBox.value); searchBox.value = '';" color="primary">
                    <mat-icon>add_circle</mat-icon>
                    <span>
                        Adicionar
                    </span>
                </button>
            
            </ul>
        </div>
     
    </form>
</mat-expansion-panel>