<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button> PSI021
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <h4 class="name">{{user.name}}</h4>
        <p class="designation">{{user.type}}</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLinkActive="list-item-active" routerLink="/home/myTasks">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLinkActive="list-item-active" routerLink="/listaProjeto">
            <mat-icon>code</mat-icon>
            <span>Associar Tarefas</span>
        </button>

        <button mat-button class="menu-button" routerLinkActive="list-item-active" routerLink="/criarReuniao">
            <mat-icon>event</mat-icon>
            <span>Criar Reunião</span>
        </button>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>library_books</mat-icon>
                        <span>Tarefas</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/tasks">
                    <mat-icon>library_books</mat-icon>
                    <span>Criar/<br>Eliminar</span>
                </mat-panel-title>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/tasks-manager">
                    <mat-icon>edit</mat-icon>
                    <span>Associar<br>a Users</span>
                </mat-panel-title>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/tarefa-percentagem">
                    <mat-icon>edit</mat-icon>
                    <span>Alterar<br>Percentagem</span>
                </mat-panel-title>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/tasks-timestamps">
                  <mat-icon>add_alarm</mat-icon>
                  <span>Adicionar<br>Datas</span>
                </mat-panel-title>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <mat-accordion *ngIf="isAdmin">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>people</mat-icon>
                        <span>Equipas</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/criarEquipa">
                    <mat-icon>group_add</mat-icon>
                    <span>Criar Equipa</span>
                </mat-panel-title>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/consultar/equipaDetail">
                    <mat-icon>search</mat-icon>
                    <span>Consultar</span>
                </mat-panel-title>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>dashboard</mat-icon>
                        <span>Projetos</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/projetos">
                    <mat-icon>code</mat-icon>
                    <span>Associar<br>Equipas</span>
                </mat-panel-title>

                <mat-panel-title *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/criarProjeto">
                    <mat-icon>create_new_folder</mat-icon>
                    <span>Criar Projeto</span>
                </mat-panel-title>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion *ngIf="isAdmin">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>calendar_today</mat-icon>
                        <span>Marcações</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/unavailable">
                    <mat-icon>date_range</mat-icon>
                    <span>Indisponibilidade</span>
                </mat-panel-title>
            </mat-expansion-panel>
        </mat-accordion>

        <button mat-button (click)="logout()" class="menu-button logout">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
