<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button> PSI021
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLinkActive="list-item-active" routerLink="/tasks">
            <mat-icon>library_books</mat-icon>
            <span>Tarefas</span>
        </button>

        <mat-divider></mat-divider>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>people</mat-icon>
                        <span>Equipas</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/criarEquipa">
                    <mat-icon>group_add</mat-icon>
                    <span>Criar Equipa</span>
                </mat-panel-title>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>dashboard</mat-icon>
                        <span>Projetos</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/projetos">
                    <mat-icon>code</mat-icon>
                    <span>Associar
                        <br>
                        Equipas</span>
                </mat-panel-title>
                <mat-panel-title routerLinkActive="list-item-active" routerLink="/listaProjeto">
                    <mat-icon>code</mat-icon>
                    <span>Associar
                    <br>
                    Tarefas</span>
                </mat-panel-title>
                
            <br>

            <mat-panel-title *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/criarProjeto">
                <mat-icon>create_new_folder</mat-icon>
                <span>Criar Projeto</span>
            </mat-panel-title>

            </mat-expansion-panel>
        </mat-accordion>

        <button mat-button *ngIf="isAdmin" class="menu-button" routerLinkActive="list-item-active"
            routerLink="/criarUtilizador">
            <mat-icon>person</mat-icon>
            <span>Criar Utilizador</span>
        </button>

        <button mat-button (click)="logout()" class="menu-button logout">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
