<mat-card>
    <mat-card-title>
        Criar Reuniao
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="reunioesForm" (ngSubmit)="criarReuniao()">

            <mat-form-field appearance="fill">
                <mat-label>Utilizadores</mat-label>
                <mat-select formControlName="users" multiple>
                    <mat-option  *ngFor="let topping of users.map(usersOnlyNameMap)" [value]="topping">
                        {{topping}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tempo estimado para a reunião</mat-label>
                <input matInput type="Number" formControlName="duration">
            </mat-form-field>
       
            <mat-form-field appearance="fill">
                <mat-label>Defina um periodo para agendar uma reunião</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate">
                    <input matStartDate formControlName="startDate"  placeholder="Start date">
                    <input matEndDate formControlName="endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Tipo de reunião</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="reunioesForm.controls['type'].hasError('required')">
                    Escolha um dos dois tipos de reuniao possiveis
                </mat-error>
            </mat-form-field>

            <button color="primary" [disabled]="!reunioesForm.valid" mat-raised-button type="submit">
                <span>Criar Reunião</span>
            </button>

        </form>
    </mat-card-content>
</mat-card>