<mat-card>
    <mat-card-title>
        Criar Projeto
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="projectForm" (ngSubmit)="criarProjeto()">

            <mat-form-field>
                <mat-label>Nome do Projeto</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Acronimo</mat-label>
                <input matInput formControlName="alias">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate">
                    <input matStartDate formControlName="startDate" placeholder="Start date">
                    <input matEndDate formControlName="endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <button color="primary" [disabled]="!projectForm.valid" mat-raised-button type="submit">
                <span>Criar Projeto</span>
            </button>

        </form>
    </mat-card-content>
</mat-card>