
<mat-card>
    <mat-card-title>
        Projetos
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="viewForm" #formDirective="ngForm" >
            <mat-form-field class="task-add" appearance="fill">
                <mat-label>Lista de Projetos</mat-label>
                <mat-select formControlName="name">
                    <mat-option *ngFor="let project of projects" [value]="project">
                    Project: {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
           
        </form>
    </mat-card-content>
</mat-card>

