<mat-card>
    <mat-card-title>
        Criar Utilizador
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="signupForm" #formDirective="ngForm" (ngSubmit)="signup()" novalidate>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Palavra-passe</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-label class="col" [ngStyle]="{'color': signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('minlength') ? 'red' : 'green'}">
                <mat-icon>
                    {{ signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
                </mat-icon>
                Deve de conter pelo menos 8 caracteres
            </mat-label>
            <mat-label class="col" [ngStyle]="{'color': signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasNumber') ? 'red' : 'green'}">
                <mat-icon> 
                    {{ signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
                </mat-icon>
                Deve conter pelo menos um número
            </mat-label>
            <mat-label class="col" [ngStyle]="{'color': signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasCapitalCase') ? 'red' : 'green'}">
                <mat-icon>
                    {{ signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
                </mat-icon>
                Deve de conter pelo uma letra maiúscula
            </mat-label>
            <mat-label class="col" [ngStyle]="{'color': signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSmallCase') ? 'red' : 'green'}">
                <mat-icon> 
                    {{ signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
                </mat-icon>
                Deve de conter pelo menos uma letra minúscula
            </mat-label>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de utilizador</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of typeUsers" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button color="primary" [disabled]="!signupForm.valid" mat-raised-button type="submit">
                <span>Criar conta</span>
            </button>
        </form>
    </mat-card-content>
</mat-card>