<mat-panel-title>
    Consultar Equipas
</mat-panel-title>
<br>
<mat-accordion>
    <label *ngFor="let team of teams">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{team.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button color="primary" mat-raised-button>
                Adicionar Usuário
            </button>
        </mat-expansion-panel>
    </label>
    
</mat-accordion>
    
    

    